name: NQP - PR Review

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  build:
    name: PR Review
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}  # this doesnt work for forks
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Locate Pip Cache
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache dependencies
      id: cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
        restore-keys: ${{ runner.os }}-pip-

#    - name: Add poetry to PATH
#      if: steps.cache.outputs.cache-hit == 'true'
#      run: echo ${{ steps.pip-cache.outputs.dir }} >> $GITHUB_PATH

    - name: Install dependencies
      #if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m pip install --upgrade poetry
        poetry config virtualenvs.create false
        poetry install --no-root

    - name: Lint with Black
      if: always()
      run: |
        poetry run python -m black scripts/

    - name: Format with isort
      if: always()
      run: |
        cd scripts
        poetry run python -m isort -y
        cd ..

    - name: mypy Type Check
      if: always()
      run: |
        poetry run python -m mypy scripts/

    - name: Pytest with Coverage
      if: always()
      run: |
        poetry run python -m pytest --cov=nqp --cov-report=xml

    - name: Upload Coverage to Code Cov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
asdas
    - name: Update Git
      if: github.repository == 'Snayff/notquiteparadise'
      run: |
        git config --global user.name 'nqp'
        git config --global user.email 'snayff@users.noreply.github.com'
        git coverage.xml
        git commit -am "ci lint and test"

    - name: Git Status Check
      if: github.repository == 'Snayff/notquiteparadise'
      run: |
        git status

    - name: Push changes
      if: github.repository == 'Snayff/notquiteparadise'
      run: |
        git push
