name: NQP - PR Review Other

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  job1:
    if: github.event.pusher.name != "Snayff"
    name: PR Review - Snayff
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Locate Pip Cache
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache dependencies
      id: cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
        restore-keys: ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade poetry
        poetry config virtualenvs.create false
        poetry install --no-root

    - name: mypy Type Check
      if: always()
      run: |
        poetry run python -m mypy scripts/

    - name: Pytest with Coverage
      if: always()
      run: |
        poetry run python -m pytest --cov=scripts/ tests/ --cov-report=xml

    - name: Upload Coverage to Code Cov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
